/* ----- ----- ----- ----- -----  RESET ----- ----- ----- ----- -----  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- ----- ----- ----- -----  BODY ----- ----- ----- ----- -----  */

body {
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
}

/* ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- */

.header__main {
    display: flex;
    border-bottom: solid 1px #539102;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 90px;
    margin: 20px;
}

.header__nav {
    display: flex;
    margin-right: 3vw;
}

.header__nav ul {
    display: flex;
}

.header__nav ul li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
}

.header__nav li a {
    margin: 0.5rem 0.5rem;
    font-size: 1.3rem;
}

.header__nav a,
.header__nav a:visited {
    text-decoration: none;
    color: black;
}

.fa-bars {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 40px;
    display: none;
}

/* ----- NAV HOVER ANIMATION ----- */

.header__nav {
    /* font-family: 'Titillium Web'; */
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 600;
}


.header__nav a {
    padding: .5em .8em;
    color: black;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.header__nav a::before,
.header__nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.header__nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #8553bd;
    border-right: 3px solid #5d3a85;
    transform: translate(-100%, 50%);
}

.header__nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #539102;
    border-left: 3px solid #74c902;
    transform: translate(100%, -50%)
}

.header__nav a:hover:before,
.header__nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.header__nav a:hover {
    color: #74c902;
}

/* ----- ----- ----- ----- -----  MAIN ----- ----- ----- ----- ----- */


h1 {
    text-align: center;
    font-size: 3rem;
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

.sobrenosotros__main {
    text-align: center;
}

/* ----- ----- ----- ----- -----  SLIDER (1/3)  ----- ----- ----- ----- -----  */

.slider {
    margin-left: auto;
    margin-right: auto;
}

.slider__placeholder {
    display: flex;
    position: relative;
}

.slider__img {
    width: 80vw;

}

.slider__text {
    position: absolute;
    font-size: 2.3vw;
    font-weight: 600;
    color: whitesmoke;
    top: 32vw;
    right: 8vw;
    text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.59);
}

/* ----- ----- ----- ----- -----  MIRROR (2/3) ----- ----- ----- ----- ----- */



.text__img,
.img__text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10rem 5rem 5rem 5rem;
}



.img__mirrored1,
.p__mirrored1,
.p__mirrored2,
.img__mirrored2 {
    width: 30vw;
}


/* ----- ----- ----- ----- -----  TRIPLETS (3/3) ----- ----- ----- ----- -----  */

.triplets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 5vw;
    grid-template-areas:
        "triplet1 triplet2 triplet3";
    margin: 10vw 10vw;
    text-align: center;
}

.triplets p {
    text-align: justify;
    margin-top: 2rem;
}

.triplets img {
    width: 100%;
}

.triplet1 {
    grid-area: triplet1;
}

.triplet2 {
    grid-area: triplet2;
}

.triplet3 {
    grid-area: triplet3;
}

/* ----- ----- ----- ----- -----  TABLAS  ----- ----- ----- ----- ----- */

table,
th,
td {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dadada;
}


/* ----- ----- ----- ----- -----  FORMULARIO  ----- ----- ----- ----- ----- */

.form__container {
    background-color: #121212;
    width: 75%;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.50);
}

.formContainer__title {
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem;
}

.form {
    text-align: center;
}

.form__label {
    color: whitesmoke;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 60%;
}

.form__input,
.form__textarea {
    width: 60%;
    margin: 0.5rem;
    padding: 00.5rem;
    background-color: #121212;
    border: none;
    border-bottom: solid 1px #74c902;
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: border-bottom 0.5s ease;
}

.form__textarea {
    height: 5rem;
    resize: none;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-bottom: solid 1px #8553bd;
    transition: border-bottom 0.5s ease;
}

.form__input--submit {
    background-color: #74c902;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.form__input--submit:hover {
    background-color: #3f6e00;
}

/* ----- ----- ----- ----- ----- ACERCA ----- ----- ----- ----- -----  */

.main__tos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ol__tos {
    display: block;
    margin-top: 1em;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    width: 80vw;
    text-align: justify;
}

/* ----- ----- ----- ----- -----  FOOTER ----- ----- ----- ----- ----- */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #8c67b9;
    color: white;

    box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);

}

footer a:visited,
footer a {
    text-decoration: none;
    color: white;
}

.footer__social ul {
    display: flex;
    justify-content: center;
}

.footer__social ul li {
    margin: 1rem 1rem;
    font-size: 3rem;
    list-style-type: none;
}

.footer__devsign {
    margin: .5rem 0rem;
}

.footer__pusher {
    display: flex;
    flex-direction: column;
    min-height: 86vh;
    justify-content: space-between;
}

/* ----- FOOTER SOCIAL ANIMATION -----  */



/* ----- ----- ----- ----- ----- MEDIA QUERIES ----- ----- ----- ----- ----- */

/* ----- ----- -----  NAVBAR COLAPSABLE ----- ----- -----  */

@media (max-width: 1024px) {
    .fa-bars {
        display: flex;
    }

    .header__main {
        flex-direction: column;
        align-items: flex-start;

    }

    .header__nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    .header__nav ul {
        flex-direction: column;
        width: 100%;
    }

    .header__nav ul li {
        padding: 1rem;
        width: 100%;
    }

    .header__nav.active {
        display: flex;
    }

    /* ----- ----- ----- FORM RESIZER ----- ----- -----   */

    .form__container {
        width: 100%;
        border-radius: 0rem;
    }


    .form__input,
    .form__textarea,
    .form__label {
        width: 80%;
    }
}

/* ----- ----- ----- MIRRORED IMGTEXT RE-ORDER ----- ----- -----  */

@media (max-width: 900px) {
    .img__text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text__img {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .text__img {
        margin-top: 3rem;
    }

    .img__text {
        margin: 2rem 0rem;
    }

    .img__mirrored1,
    .img__mirrored2 {
        width: 100vw;
    }

    .p__mirrored1,
    .p__mirrored2 {
        width: 80vw;
        margin: 2rem;
        text-align: justify;
    }

    /* ----- ----- ----- TRIPLETS GRID RE-ORDER ----- ----- -----  */

    .triplets {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5rem 0px;
        grid-template-areas:
            "triplet1"
            "triplet2"
            "triplet3";
        justify-items: center;
    }

    .triplet1,
    .triplet2,
    .triplet3 {
        width: 60vw;
    }

    .triplets p {
        margin-top: 3rem;
    }

    .triplet1 {
        grid-area: triplet1;
    }

    .triplet2 {
        grid-area: triplet2;
    }

    .triplet3 {
        grid-area: triplet3;
    }
}