* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.navbar-brand img {
  height: 70px; }

body {
  font-family: "Open Sans"; }

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 40px; }

main {
  display: flex;
  flex-direction: column; }

/* ----- ----- ----- ----- -----  MIRROR (2/3) ----- ----- ----- ----- ----- */
.text__img, .img__text {
  margin: 10rem 5rem 5rem 5rem; }

footer {
  background-color: #8c67b9;
  color: white;
  box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75); }
  footer a:visited, footer a {
    text-decoration: none;
    color: white; }

.footer__green--hover {
  color: #74c902; }

.footer__social a {
  font-size: 3rem; }

.footer__devsign {
  margin: .5rem 0rem; }

.footer__navtitle {
  padding: 20px; }

.footer__infoicon {
  width: 1rem; }

.footer__infolink {
  padding-left: 20px; }
  .footer__infolink a:hover {
    color: #74c902; }

.form__container {
  background-color: #121212;
  width: 75%;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.5); }

.formContainer__title {
  color: #e7e7e7;
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem; }

.form {
  text-align: center; }

.form__label {
  color: #e7e7e7;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 60%; }

.form__input,
.form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 00.5rem;
  background-color: #121212;
  border: none;
  border-bottom: solid 1px #74c902;
  color: #e7e7e7;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  transition: border-bottom 0.5s ease; }

.form__textarea {
  height: 5rem;
  resize: none; }

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-bottom: solid 1px #8553bd;
  transition: border-bottom 0.5s ease; }

.form__input--submit {
  background-color: #74c902;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease; }

.form__input--submit:hover {
  background-color: #539102; }

table,
th,
td {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center; }

tr:nth-child(even) {
  background-color: #dadada; }

.margin-y10vh {
  margin-top: 10vh;
  margin-bottom: 10vh; }

.margin-y15vh {
  margin-top: 15vh;
  margin-bottom: 15vh; }

.margin-y20vh {
  margin-top: 20vh;
  margin-bottom: 20vh; }

.margin-y30vh {
  margin-top: 30vh;
  margin-bottom: 30vh; }

.margin-y50vh {
  margin-top: 50vh;
  margin-bottom: 50vh; }

/* ----- ----- ----- ----- ----- MEDIA QUERIES ----- ----- ----- ----- ----- */
@media (max-width: 992px) {
  /* ----- ----- ----- FORM RESIZER ----- ----- -----   */
  .form__container {
    width: 100%;
    border-radius: 0rem; }
  .form__input,
  .form__textarea,
  .form__label,
  .img__mirrored1,
  .img__mirrored2 {
    width: 80vw; }
  .text__img {
    margin-top: 3rem; }
  .img__text {
    margin: 2rem 0rem; }
  .p__mirrored1,
  .p__mirrored2 {
    width: 80vw;
    margin: 2rem;
    text-align: justify; } }

@media (max-width: 767px) {
  .footer__social,
  .footer__nav,
  .footer__info {
    margin-top: 5vh;
    margin-bottom: 5vh; } }

@media (min-width: 992px) {
  .carousel {
    width: 80vw; }
  /* ----- ----- ----- ----- NAV HOVER ANIMATION ----- ----- -----  */
  .nav-link {
    text-align: center;
    font-weight: 600;
    padding-right: 3rem;
    position: relative;
    text-decoration: none;
    font-size: 20px; }
  .nav-link::before,
  .nav-link::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0; }
  .nav-link::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #8553bd;
    border-right: 3px solid #5d3a85;
    transform: translate(-100%, 50%); }
  .nav-link:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #539102;
    border-left: 3px solid #74c902;
    transform: translate(100%, -50%); }
  .nav-link:hover:before,
  .nav-link:hover:after {
    transform: translate(0, 0);
    opacity: 1; }
  .nav-link:hover {
    color: #74c902; } }
