.form__container {
    background-color: $almostblack;
    width: 75%;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.50);
}

.formContainer__title {
    color: $white;
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem;
}

.form {
    text-align: center;
}

.form__label {
    color: $white;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 60%;
}

.form__input,
.form__textarea {
    width: 60%;
    margin: 0.5rem;
    padding: 00.5rem;
    background-color: $almostblack;
    border: none;
    border-bottom: solid 1px $primary-green;
    color: $white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: border-bottom 0.5s ease;
}

.form__textarea {
    height: 5rem;
    resize: none;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-bottom: solid 1px $primary-purple;
    transition: border-bottom 0.5s ease;
}

.form__input--submit {
    background-color: $primary-green;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.form__input--submit:hover {
    background-color: $dark-green;
}