footer {
    background-color: $bgfooter-purple;
    color: white;

    box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);

    a:visited, a {
        text-decoration: none;
        color: white;
    }
}

.footer__green--hover {
    color: $primary-green;
}


.footer__social a {
    font-size: 3rem;
}

.footer__devsign {
    margin: .5rem 0rem;
}

.footer__navtitle {
    padding: 20px;
}

.footer__infoicon {
    @include ancho(1rem)
}

.footer__infolink {
    padding-left: 20px;

    a:hover{
        color: $primary-green;
    }
}
