footer {
    background-color: $bgfooter-purple;
    color: white;

    box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -3px 9px -1px rgba(0, 0, 0, 0.75);

    a:visited,
    a {
        text-decoration: none;
        color: white;
    }
}

.footer__green--hover {
    color: $primary-green;
}

.footer__sociallinks {
    a { 

        .fa-google {
            background-image: url(../images/icons/bggoogle.jpg)
        }

        .fa-facebook-f {
            @extend .bgsg--facebook;
        }

        .fa-instagram {
            background-image: url(../images/icons/bgig.jpg);
        }

        .icon {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            position: relative;
            display: inline-block;
            font-size: 4.1em;
            font-weight: 800;
            color: white;
            transition: background-position 275ms ease;
        }

        .icon:hover{
            background-position: 0 100%;
        }

    }
}

.footer__devsign {
    margin: .5rem 0rem;
}

.footer__navlinks {
    div {
        a:hover {
            color: $primary-green;
        }
    }
}

.footer__navtitle {
    padding: 20px;
}

.footer__infoicon {
    @include ancho(1rem)
}

.footer__infolink {
    padding-left: 20px;

    a:hover {
        color: $primary-green;
    }
}