body {
    font-family: "Open Sans";
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
}


/* ----- ----- ----- ----- -----  MIRROR (2/3) ----- ----- ----- ----- ----- */

.text__img, .img__text {
        margin: 10rem 5rem 5rem 5rem;
    }