.margin-y15vp {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.margin-b15vp {
    margin-bottom: 15vh;
}

.margin-t15vp {
    margin-top: 15vh;
}

.margin-y5vp {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.margin-b5vp {
    margin-bottom: 5vh;
}

.margin-t5vp {
    margin-top: 5vh;
}
