$marginsh: 10vh, 15vh, 20vh, 30vh, 50vh;

@each $marginh in $marginsh{
    .margin-y#{$marginh} {
        margin-top: $marginh;
        margin-bottom: $marginh;
    }
}

// .margin-y15vp {
//     margin-top: 15vh;
//     margin-bottom: 15vh;
// }

// .margin-b15vp {
//     margin-bottom: 15vh;
// }

// .margin-t15vp {
//     margin-top: 15vh;
// }

// .margin-y5vp {
//     margin-top: 5vh;
//     margin-bottom: 5vh;
// }

// .margin-b5vp {
//     margin-bottom: 5vh;
// }

// .margin-t5vp {
//     margin-top: 5vh;
// }
